<%= simple_form_for(@pet) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :type %>
    <%= f.input :date_of_birth %>
    <%= f.input :breed %>
    <%= f.input :user_id %>
    <%= f.input :weight %>
    <%= f.input :personality %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
