<p id="notice"><%= notice %></p>

<p>
  <strong>Image uid:</strong>
  <%= @photo.image_uid %>
</p>

<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
